body {
	margin: 0;
	background-color:#eee;
}

h1 {
	font-size: 70px;
}

h3 {
	font-size: 40px;
}

#slider {
	display: flex;
	margin: auto;
	width: 600px;
	align-items: center;
}

.arrow {
	display: flex;
	justify-content: center;
	width: 80px;
	height: 80px;
	background: black;
	border-radius: 50%;
	cursor: pointer;
}

#imagesContainer {
	margin: 20px auto;
	background-color: black;
	width: 400px;
	display: flex;
	overflow: hidden;
}

.image {
	box-sizing: border-box;
	width: 400px;
	height: 400px;
	padding: 40px;
	background: radial-gradient(circle at 0% 50%,#333,black);
	color: #777;
	opacity: 0.5;
	flex-grow: 0;
	flex-shrink: 1;
	transition: opacity 1s ease-in-out;
}

.image.selected {
	flex-grow: 1;
	flex-shrink: 0;
	order: -1;
	opacity: 1;
}

#pagesContainer {
	margin: auto;
	width: min-content;
	display: flex;
}

.page {
	margin-left: 10px;
	margin-right: 10px;
	width: 20px;
	height: 20px;
	background: #777;
	border-radius: 20px;
	cursor: pointer;
	transition-property: width color;
	transition: 0.5s ease-out;
}

.page.selected {
	width: 40px;
	background-color: black;
	cursor: auto;
}
